.heading {
  &_primary {
    font-size: 6rem;
    font-weight: 400;
  }

  &_secondary {
    font-size: 4rem;
    font-weight: 500;
  }
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
